<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
<html>
    <head>
        <title>Wishlist</title>
        
        <!-- Meta Data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- CSS Links -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="stylesheet" href="css/wishlist_styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Nav Bar -->
        <form action="/" method="GET">
            <div class="d-grid gap-2 custom_nav">
              <button class="btn btn-dark " type="submit">
                <h3>R E M</h3>
              </button>
            </div>
          </form>
        <!-- Nav Bar -->

        <h1><i class="fa fa-heart" aria-hidden="true"></i> MY Favourite Selections <i class="fa fa-heart" aria-hidden="true"></i></h1>


        <div class="row" >
          <% for(i in rows) { %>
            <div class="col-3">
                <div class="card custom-card" >
                    <img class="card-img-top custom-card-img" alt="Property Image" src= <%= rows[i].img_link %>>
                    <div class="card-body">
                      <h5 class="card-title"><%= rows[i].name %></h5>
                      <p class="card-text"><%= rows[i].location %></p>
                    </div>
                    <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <% if(rows[i].furnished == 1) { %>
                        Well Furnished, Ready to move in...
                        <span class="fas fa-couch checked"></span>
                        <% } else {%>
                        Not Furnished<% } %></li>
                      <li class="list-group-item">
                        Rating: <%= rows[i].rating %>/5 
                        <% for( var j=0; j<rows[i].rating; j++) {%>
                        <span class="fa fa-star checked"></span>
                        <% } %>
                        <% for( var j = rows[i].rating; j<5; j++) {%>
                          <span class="fa fa-star"></span>
                          <% } %>

                      </li>
                    </ul>
                    <div class="card-body">
                      <div class="form-check">
                      </div>
                        <button type="submit" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#exampleModal-<%= i %>" id=<%= i %> >
                          More Details
                        </button>
                    </div>
                  </div>
            </div>

                 <!-- Property Modal -->
        <div class="modal fade " id="exampleModal-<%= i %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Property #</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <img src="<%= rows[i].img_link %>" alt="Modal Property Image" class="modal-img">
                <div class="card" style="width: 50%;">
                  <div class="card-body">
                    <h5 class="card-title"><%= rows[i].name %></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><%= rows[i].location %></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="card" style="width: 100%;">
                      <div class="card-header">
                        Featured
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">A fifth item</li>
                        <li class="list-group-item">A Sixth item</li>
                      </ul>
                    </div>
                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form action="/removeFromWishlist" method = "post">
                <input type="hidden" name="propertyId" value="<%= rows[i].id %>" />
                <button type="submit" class="btn btn-outline-danger">Remove from Wishlist</button>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- Property Modal END -->
        <% } %>

        <form action="/" method="GET">
          <div class="d-grid gap-2 custom_nav">
            <button class="btn btn-dark " type="submit">
              <h3>Home</h3>
            </button>
          </div>
        </form>
          
        <!-- JS Links -->
        <script src="" async defer></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js" integrity="sha384-KsvD1yqQ1/1+IA7gi3P0tyJcT3vR+NdBTt13hSJ2lnve8agRGXTTyNaBYmCR/Nwi" crossorigin="anonymous"> </script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.min.js" integrity="sha384-nsg8ua9HAw1y0W1btsyWgBklPnCUAFLuTMS2G72MMONqmOymq585AcH49TLBQObG" crossorigin="anonymous"> </script>
    </body>
</html>